.wrap{
	width: 70%;
	max-width: 900px;
	min-width: 400px;
	height: 60px;
	margin: 100px auto 0;
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;	
	position: relative;		
}

.wrap__inner{
	background: linear-gradient(to top, #ECBC41, #FFCC46);
	padding: 7px;
	float: left;
	width: 100%;
}

form{
	width: 94%;
}

.input__search{
  width: 86%;
  min-width: 302px;
  height: 23px;
  border: 1px solid #C6C6C6;
  border-bottom-color: #E5E5E5;
  box-shadow: inset 0px 1px 2px #A3A3A3;
}

@media screen and (max-width: 730px) {
	.input__search{
		width: 81%;
	}
}

.button__search{
	height: 27px;
	width: 13%;
	min-width: 62px;
	border-radius: 2px;
	border: 1px solid #AA925E;
	background: linear-gradient(to top, #CCCCCC, #fff);
	font-size: 17px;
	float: right;
}

.button__search:hover{
	background: linear-gradient(to top, #fff, #CCCCCC);
}

.bradcramps{
	margin: 0;
	color: #000;
	font-size: 12px;
	padding-top: 7px;
}

a{
	text-decoration: none;
	border-bottom: 1px dotted #000;
	color: #000;
	font-size: 12px;
}

.arrow{
	position: absolute;
	left: 96.5%;
	  width: 0;
	  height: 0;
	  border-right: 20px solid transparent;
	  border-top: 34px solid #fff;
	  border-left: 31px solid #fff;
	  border-bottom: 31px solid #fff;
	  -webkit-transform: rotate(180deg);
 }