.wrap{
	width: 70%;
	max-width: 900px;
	min-width: 400px;
	height: 60px;
	margin: 100px auto 0;
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;	
	position: relative;		
}

.wrap__inner{
	background: linear-gradient(to top, #ECBC41, #FFCC46);
	padding: 7px;
	float: left;
	width: 100%;
}

form{
	width: 96%;
}

.search__table{
	width: 100%;
}

.search__input{
	padding-right: 6px;
}

.input__search{
	width: 100%;
	min-width: 300px;
	height: 23px;
	box-shadow: inset 0px 1px 2px #A3A3A3;
	border: 1px solid #C6C6C6;
	border-bottom-color: #E5E5E5;
}

.search__button{
	width: 72px;
}

button{
	width: 72px;
	height: 29px;
}

.bradcramps{
	margin: 0;
	color: #000;
	font-size: 12px;
}

a{
	text-decoration: none;
	border-bottom: 1px dotted #000;
	color: #000;
	font-size: 12px;
}

.arrow{
	position: absolute;
	left: 98%;
	  width: 0;
	  height: 0;
	  border-right: 23px solid transparent;
	  border-top: 35px solid #fff;
	  border-left: 15px solid #fff;
	  border-bottom: 31px solid #fff;
	  -webkit-transform: rotate(180deg);
 }
