body{	
	font-family: Tahoma; 
	margin: 0;
}

ul{
	margin: 0 auto;
	padding: 0;
}

ul.nav li {
	float: left; 
	list-style: none;
	text-align: center;
	text-transform: uppercase; 
}

ul.nav li a {
	text-decoration: none;
	display: block;
	padding: 10px 11px;
	color: #fff;
}

ul.nav li ul {
	display: none;
}

ul.nav li:hover, ul.nav li a:hover{
    background: #eeeeee;
    color: #a0a0a0;
}

ul.nav {
	position: relative;
	height: 38px;
	width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #1AA4FF;
	margin-top: 10px;
}

ul div {
	width: 900px;
	margin: 0 auto;
}

ul.sub-menu li a{
	color: #a0a0a0;
	font-size: 12px;
	text-transform: none;
}

ul.nav li:hover > ul {
	background: #eeeeee;
	border-top: 1px solid white;
	display: block;
	width: 100%;
	position: absolute;
	top: 38px; 
	left: 0;
}

ul.sub-menu li a:hover{
	background: #727272;
	color: #eeeeee;
}

/*-------не получается сделать так, чтоб шрифт пункта путешествия после перевода мышки на подпункт оставался серым... в чем ошибка?-------*/