<!DOCTYPE html>
<html lang="en" ng-app="testModule">
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<link rel="stylesheet" href="../../Libraries/bootstrap.css" />
	<link rel="stylesheet" href="../../Libraries/bootstrap-theme.css">
	<script src="todo.js"></script>
	<script src="../../Libraries/angular.js"></script>
	<script>
		var testModule = angular.module('testModule', []);

		testModule.controller('testModuleCtrl', function ($scope){
            $scope.url = 'details.html';
            $scope.data = todoModel.data;
			$scope.name;
			$scope.description;
			$scope.duedate;			
			$scope.completed;

			$scope.addTask = function(){ todoModel.addItem($scope.name, $scope.description, $scope.duedate, $scope.completed); }
		});

	</script>
</head>
<body ng-controller="testModuleCtrl">
	<div class="container-fluid col-md-10 col-md-offset-1">
		<h1 class="panel-heading panel-danger">ToDoList</h1>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Date</th>
				<th>Complited</th>
			</tr>
			<tr  class="table table-hover text-left" ng-repeat="item in data">
				<th>{{item.name}}</th>
				<th>{{item.description}}</th>
				<th>{{item.duedate | date : "dd.MM.yyyy"}}</th>				
				<th><input type="checkbox" name="chkCompleted" ng-model="item.completed" ng-checked="item.completed" /></th>
			</tr>
		</table>
	

		<div class="form-group">
			
			<h4>Name</h4>
				<input  ng-model="name" type="text" name="name" class="form-control" />
			<h4>Due Date</h4>
				<input  ng-model="duedate" type="date" name="dueDate" class="form-control" />
			<h4>Description</h4>
				<textarea  ng-model="description" type="text" class="form-control" name="txtDescription" cols="10" rows="5"></textarea>
			<label for="#checkbox">Completed</label><br />
				<input  ng-model="completed" type="checkbox" id="checkbox">			
		</div>

		 <button class="btn btn-success" ng-click="addTask()">Add</button>
	</div>
</body>
</html>