.menu__list{
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0 auto;
	padding: 30px 0 0;
	width: 580px;
}

.menu__item{
	float: left; 
	list-style: none;
	text-align: center;
	text-transform: uppercase;
	padding-left: 1%;
}

.menu__item a{
	color: #989898;
	display: block;
	padding: 30px 15px;
	text-decoration: none;
}

.menu__item a:hover{
	border-bottom: 4px solid #3070a8;
	color: #3070a8;
}

@media screen and (max-width: 1120px) {
	.menu__list{
		font-size: 13px;
		padding: 15px 0 0;
		width: 425px;
		-webkit-transition: padding 1s linear;
		-o-transition: padding 1s linear;
		-moz-transition: padding 1s linear;
		transition: padding 1s linear;
	}

	.menu__item a{
		padding: 15px 7px;
	}
}


@media screen and (max-width: 900px) and (min-width: 471px) {
	.menu__list{
		padding: 0;
		margin: 0 auto;
		float: none;
		width: 386px;
	}
}

@media screen and (max-width: 470px){
	.menu__list{
		padding: 0;
		margin: -10px auto 0;
		float: none;
		width: 317px;
		font-size: 10px;
	}
}