body{	
	font-family: Tahoma; 
	margin: 0;
}

nav{
	background-color: #a64dff;
	height: 38px;
	margin-top: 10px;
	width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

ul{	
	width: 900px;
	margin: 0 auto;
	font-weight: normal;
}

ul li{
	list-style-position: inside;
	float: left;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
    margin: 0;

}

ul li a {
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	color: #fff;
}

ul li a:hover{
    background: #eeeeee;
    color: #a0a0a0;
}

ul li.more{
	float: right;
}